.chart{
    flex:2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);    
    padding: 10px 10px 10px 10px;
    height: 380px;

    .title{
        font-weight: bold;
        font-size: 14px;
        color: rgb(160,160,160);
        margin-bottom: 20px;
    }

    .chart-body{
        display: flex;
        justify-content: flex-start;
    }    
}